# 1085번 : 직사각형에서 탈출

In [ ]:
x, y, w, h = list(map(int, input().split()))
print(min([x, y, w - x, h - y]))

6 1 10 2
1

# 4153번 : 직각삼각형

In [ ]:
while True:
  x, y, z = sorted(list(map(int, input().split())))
  
  if x == y == z == 0:
    break

  else:
    if x**2 + y**2 == z**2:
      print('right')
    else:
      print('wrong')

25 52 60
wrong
6 8 10
right
0 0 0

# 10250번 : ACM 호텔

In [ ]:
T = int(input())

for i in range(T):
  H, W, N = map(int, input().split())
  front = N % H
  back = N // H + 1
  if front == 0:
    front = H
    back = N // H
  ans = front * 100 + back
  print(ans)

2
6 12 10
402
6 12 12
602

# 2231번 : 분해합

In [ ]:
# N = int(input())

# ans = []

# for i in range(1, N+1):
#   lst = list(map(int, str(i)))

#   if (N // i == 1) or (N // i == 2) & (N % i == sum(lst)):
#     ans.append(i)
#     break

# try:
#       print(min(ans))
# except:
#       print(0)


# N = int(input())

# ans = []

# for i in range(1, N+1):
#   lst = list(map(int, str(i)))
#   if (N // i == 1 or N // i == 2) & (N % i == sum(lst)):
#     ans.append(i)

# print(ans)
# min(ans)

# 런타임에러

# 살린 코드
N = int(input())

ans = []

for i in range(1, N+1):
  lst = list(map(int, str(i)))
  # print(lst)
  if (N // i == 1) & (N % i == sum(lst)):
    ans.append(i)
    # break

# print(ans)
if N>18 or N%2==1:
  try:
      print(min(ans))
  except:
      print(0)
elif N%2==0:
      print(N//2)
else: 
      print(0)

216
198

In [ ]:
# 나의 풀이
N = int(input())

ans = 0

for i in range(1, N+1):
  lst = list(map(int, str(i)))
  if N == i + sum(lst):
    ans = i
    break

print(ans)

21
15

In [ ]:
# 경태님
n=int(input())
print(min([i for i in range(max(n-len(str(n))*9,1),n) if n == i+sum([int(j) for j in str(i)])]or[0]))

# 2292번 : 벌집

In [ ]:
N = int(input())

room = 1
count = 1

while N > room:
  room += 6*count
  count += 1

print(count)

1
1