# 2798번 : 블랙잭

In [3]:
# # N = 5
# N = 10
# # M = 21
# M = 500
# # cards = [5, 6, 7, 8, 9]
# cards = [93, 181, 245, 214, 315, 36, 185, 138, 216, 295]

N, M = map(int, input().split())
cards = list(map(int, input().split()))

lst = []
for i in range(N-2):
  print(i)
  for j in range(i+1, N-1):
    print(j)

    for k in range(j+1, N):
      print(k)
      print('-'*30)

      sum = cards[i] + cards[j] + cards[k]
      if sum <= M:
        lst.append(sum)

print(lst)
print(max(lst))

5 21
5 6 7 8 9
0
1
2
------------------------------
3
------------------------------
4
------------------------------
2
3
------------------------------
4
------------------------------
3
4
------------------------------
4
1
2
3
------------------------------
4
------------------------------
3
4
------------------------------
4
2
3
4
------------------------------
4
3
4
4
[18, 19, 20, 20, 21, 21]
21

# 15829번 : Hsahing

In [1]:
L = int(input())
M = 1234567891
r = 31
alpa = input()
 
answer = 0
 
for i in range(len(alpa)):
    num = ord(alpa[i]) - 96
    answer += num * (r ** i)
 
print(answer % M)

5
abcde
4739715

# 1259번 : 팰린드롬수

In [17]:
while True:
  n = int(input())

  if n == 0:
    break
  
  else:
    if str(n) == str(n)[::-1]:
      print('yes')
    else:
      print('no')

121
yes
1231
no
0

# 2609번 : 최대공약수와 최소공배수

In [6]:
A, B = map(int, input().split())

# A, B = 24, 18
a, b = A, B

while b != 0:
  a = a%b
  a, b = b, a

# same_max = a
# same_min = A*B//a

print(a)
print(A*B//a)

6
72

# 2775번 : 부녀회장이 될테야

In [2]:
t = int(input())

for _ in range(t):
  k = int(input()) # k층
  n = int(input()) # n호
  count = [_ for _ in range(1, n+1)]
  # print(count)

  for i in range(k):
    for j in range(1, n):
      count[j] += count[j-1]
      print(count)
      

  print(count[-1])

2
1
3
[1, 3, 3]
[1, 3, 6]
6
2
3
[1, 3, 3]
[1, 3, 6]
[1, 4, 6]
[1, 4, 10]
10