# 1978번 : 소수 찾기

In [ ]:
n = int(input())
nums = map(int, input().split())

ans = 0

for i in nums:
  count = 0
  if i == 1:
    continue
  
  for j in range(2, i+1):
    if i % j == 0:
      count += 1

  if count == 1:
    ans += 1

print(ans)

4
1 2 4 7
2

# 2751번 : 수 정렬하기2

In [ ]:
import sys

n = int(sys.stdin.readline())

lst = []

while n:
  k = int(sys.stdin.readline())
  n -= 1
  lst.append(k)

print(*sorted(lst), sep = '\n')

5
5
4
3
2
1
1
2
3
4
5

# 7568번 : 덩치

In [ ]:
n = int(input())

people = []  

for _ in range(n):
    x, y = map(int, input().split())
    people.append([x, y])
# print(people)
for i in people:
    rank = 1
    print(i)
    for j in people:
      print(j)
      if i[0] < j[0] and i[1] < j[1]:
                rank += 1
    print('=' * 50)
    print(rank, end = " ")

# 10814번 : 나이순 정렬

In [ ]:
n = int(input())
info = []

for _ in range(n):
  age, name = map(str, input().split())
  info.append([int(age), name])
    
info = sorted(info, key = lambda x: x[0])
# info.sort(key = lambda x: x[0]) # 런타임 에러
### sort : return 값이 None, 원본 변형
### sorted : 원본 유지, 새로운 변수명 지정 요구(가능)

for i in info:
  print(i[0], i[1])
  # print(*i, end='\n') # 출력 초과

# 11650번 : 좌표 정렬하기

In [ ]:
n = int(input())

point = []

for _ in range(n):
  x, y = map(int, input().split())
  point.append([x, y])

point = sorted(point)

for i in point:
  print(i[0], i[1])

3
2 2
2 -1
-1 4
[[2, 2], [2, -1], [-1, 4]]